/streamBazaar.zip
/streamBazaar_2.zip
/streamBazaar_3.zip
/streamBazaarV5.zip
/streamBazaarV8.zip
/streamBazaarv7.zip
/streamBazaarv9.zip
/streamBazaarV10may7.zip
/streamBazaarv11.zip
/streamBazaarv11a.zip
/streamBazaarV12.zip
/streamBazaarv13.zip
/streamBazaarv18.zip
/streamBazaarv18-1.zip
/streamBazaarV20.zip
/streamBazaarCLADE_new.zip
/streamBazaar/datasets/fraud-detection/train_transaction.csv
/streamBazaar/datasets/fraud-detection/test_transaction.csv
/streamBazaar/datasets/iot-sensors/data.txt
/streamBazaar/datasets/web-analytics/random_submission.csv
/streamBazaar/flink-integration/target/
/streamBazaar/evaluation/results/
/streamBazaar_4.zip
/streamBazaar0000.zip